/*
PyMra00
Marzo 2021
Paula y Matthew
*/
a-box{
    color: cornflowerblue;
}
a-sphere{
    color: cadetblue;
}
a-cylinder{
    color: dodgerblue;
}
a-plane{
    color: aliceblue;
}
a-sky{
    color: aquamarine;
}